h2 Current Matches (Round #{config.round})

table.matches
  tr
    th Match #
    th Team 1
    th Team 2
    th Reported Score

  each match in matches
    tr
      td!= match.id
      td!= match.team1_name
      td!= match.team2_name
      - if (match.team1_score !== null)
        td #{match.team1_score}-#{match.team2_score}
      - else
        td Not reported

h2 Overall Bracket

a(href="http://images.challonge.com/rugcultiduo.png")
  img(src="http://images.challonge.com/rugcultiduo.png", width="700")