section#teams
  a(href='/logout') Logout
  h2 Round: #{round_id}
  - if (config.round > 1)
    p
      - for (var n = 1; n < config.round; ++n)
        - if (n == round_id)
          != n
        - else
          a(href='/match/'+n)!= n
        | &nbsp;-&nbsp;
      - if (round_id == config.round)
        != config.round
      - else
        a(href='/match')!= config.round

  h2 Match Information
  div#team_1
    h3!= team1_name
    h4
      a(href='http://steamcommunity.com/profiles/' + team1_soldier_steamid)
        != team1_soldier_name
    h4
      a(href='http://steamcommunity.com/profiles/' + team1_medic_steamid)
        != team1_medic_name

  div#team_2
    h3!= team2_name
    h4
      a(href='http://steamcommunity.com/profiles/' + team2_soldier_steamid)
        != team2_soldier_name
    h4
      a(href='http://steamcommunity.com/profiles/' + team2_medic_steamid)
        != team2_medic_name

  div#clear_float

p
  | Remember that matches are to be played 10:00PM EST on Saturdays.
  |  If either team cannot make it, please use the match comms below to
  |  find a time that works for all players.

p Scores are to be reported by Wednesday at the latest.

-if (team1_name && team1_name !== '')
  section#server_info
    h2 Server

    - if (server_ip !== null)
      h3 Server's are currently online
      a(href='steam://connect/' + server_ip + ':' + server_port + '/ultiduo')
        | connect #{server_ip}:#{server_port}; password ultiduo
      p
        | Password is:
        b  ultiduo
      p
        | SourceTV port is:&nbsp;
        b!= server_port + 10000
      p SourceTV connect command:&nbsp;
        a(href='steam://connect/' + server_ip + ':' + (server_port + 10000))
          | connect #{server_ip}:#{server_port}
    - else
      p Servers are not currently available.


  section#match_score
    h2 Match Score
    - if (round_id == config.round)
      p
        | We're working on the honor system here - if you have any issues
        |  reporting scores contact an&nbsp;
        a(href='/admins') admin
        | .
      form(action='/match', method='POST')
        input(type='hidden', name='match', id='match', value= match_id)
        label(for='team1_score') #{team1_name}:&nbsp;
        input(type='text', name='team1_score', id='team1_score', maxlength='1',
             value= team1_score || 0)
        br
        label(for='team2_score') #{team2_name}:&nbsp;
        input(type='text', name='team2_score', id='team2_score', maxlength='1',
              value= team2_score || 0)
        br
        input(type='submit', value='Submit scores')
    - else
      p
        | The match score for this round was:&nbsp;
        b #{team1_score}-#{team2_score}
        | . If this is incorrect, please contact an&nbsp;
      a(href='/admins') admin
      | .

  section#match_comms
    h2 Match Comms
    != partial('match_comm', { collection: match_comms, as: global })

    - if (round_id == config.round)
      form(action='/match', method='post')
        input(type='hidden', name='match', id='match', value= match_id)
        textarea(name='message', id='message', cols='50', rows='5', maxlength='300')
        br
        input(type='submit', value='Submit')
    - else
      b Additional match comms can not be added to old matches
