section#teams
  h2 Match Information
  div#team_1
    h3!= team1_name
    h4
      a(href='http://steamcommunity.com/profiles/' + team1_soldier_steamid)
        != team1_soldier_name
    h4
      a(href='http://steamcommunity.com/profiles/' + team1_medic_steamid)
        != team1_medic_name

  div#team_2
    h3!= team2_name
    h4
      a(href='http://steamcommunity.com/profiles/' + team2_soldier_steamid)
        != team2_soldier_name
    h4
      a(href='http://steamcommunity.com/profiles/' + team2_medic_steamid)
        != team2_medic_name

  div#clear_float

p
  | Remember that matches are to be played 10:00PM EST on this
  | upcoming Saturday (July 7th).
p Scores are to be reported by Wednesday at the latest.

section#server_info
  h2 Server

  - if (server_ip !== null)
    h3 Server's are currently online
    a(href='steam://connect/' + server_ip + ':' + server_port + '/ultiduo')
      | connect #{server_ip}:#{server_port}; password ultiduo
    p
      | Password is:
      b  ultiduo
    p
      | SourceTV port is:&nbsp;
      b!= server_port + 10000
    p SourceTV connect command:&nbsp;
      a(href='steam://connect/' + server_ip + ':' + (server_port + 10000))
        | connect #{server_ip}:#{server_port}
  - else
    p Servers are not currently available.

section#match_score
  h2 Match Score
  p
    | We're working on the honor system here - if you have any issues
    |  reporting scores contact an
    a(href='/admins')  admin
    | .
  form(action='/match', method='POST')
    input(type='hidden', name='match', id='match', value= match_id)
    label(for='team1_score') #{team1_name}:&nbsp;
    input(type='text', name='team1_score', id='team1_score', maxlength='1',
         value= team1_score || 0)
    br
    label(for='team2_score') #{team2_name}:&nbsp;
    input(type='text', name='team2_score', id='team2_score', maxlength='1',
          value= team2_score || 0)
    br
    input(type='submit', value='Submit scores')



section#match_comms
  h2 Match Comms
  each comm in match_comms
    article
      header
        h3!= comm.name
        | &nbsp;
        time!= comm.post_date
      p!= comm.message

  form(action='/match', method='post')
    input(type='hidden', name='match', id='match', value= match_id)
    textarea(name='message', id='message', cols='50', rows='5', maxlength='300')
    br
    input(type='submit', value='Submit')
