h2 Select your class

h3 #{player} [SteamID: #{steamid}]

- if (full_class)
  p#full_class
    | Sorry, but there are no more available #{full_class_name} slots!

p
  - if (class_id === 1)
    | Play Soldier
  - else
    a(href='/signup/1') Play Soldier
  |  [#{count_solly}/#{class_limit}]
p
  - if (class_id === 2)
    | Play Medic
  - else
    a(href='/signup/2') Play Medic
  |  [#{count_med}/#{class_limit}]

p: a(href='/signup/3') Be a backup player
p: a(href='/signup/0') Remove from tournament

- if (class_id == 1)
  p You are currently selected to play <b>soldier</b>.
  img(src='http://cdn.huang.mx/i/wyrHi.png', id='soldier_image',
      alt='soldier_image')
- else if (class_id == 2)
  p You are currently selected to play <b>medic</b>.
  img(src='http://cdn.huang.mx/i/nBGRi.png', id='medic_image',
      alt='medic_image')
- else if (class_id == 3)
  p You are currently selected to play as a <b>backup</b>.
- else
  p You are currently <b>not selected to play any class</b>.

- if (class_id == 1 || class_id == 2)
  h2 Choose Teammate
  form(method='post', action='/signup')
    label(for='teammate')
      | Select a&nbsp;
      - if (teammate_class_id == 1)
        b Soldier
      - else
        b Medic
      |  from the list:
    br
    select(name='teammate')
      - each teammate in teammates
        option(value= teammate.id) #{teammate.name} [#{teammate.steamid}]
    input(type='submit', value='Register teammate')

  h2 Teammate staus
  - if (teammate)
    p Current teammate: #{teammate}
  - else
    p No teammate selected

h2 Dates
p
  | Your class choice will be locked in on
  b  Wednesday, July 4 at 12:00 PM EST
  | .
p Teams will be assigned on <b>Thursday, July 4</b>.
p: a(href='/logout') Logout